extends ./layout.jade

block content
  .container
    .jumbotron.m-t-2
      h1.display-5 Welcome to PlanisphereJS
      p.lead A web application generated based on Meteor
      hr.m-y-2
      table.table(style="background-color: white;")
        tr
          td.text-xs-right
            a.btn.btn-primary(href="https://github.com/dai-shi/planisphere-core", target="_blank") GitHub
          td(style="vertical-align: middle;") the project page
        tr
          td.text-xs-right
            a.btn.btn-primary(href="http://planisphere-demo.meteor.com", target="_blank") Demo
          td(style="vertical-align: middle;") a web application created by PlanisphereJS
